@use '../../mixins'
@use '../../variables'

.buy-button
  @include mixins.btn
  width: 100%
  flex: 1 1 0%
  text-transform: uppercase
  padding-top: 12px
  padding-bottom: 12px
  border-radius: variables.$rounded-sm
  font-weight: variables.$font-bold
