.categories
  min-width: 1280px
  margin-top: 429px
  display: flex
  align-items: center
  justify-content: space-between

.products-container
  display: flex
  width: 1280px
  gap: 62px
  margin-top: 20px
  margin-bottom: 71px