.categories
  min-width: 1280px
  margin-top: 429px
  display: flex
  align-items: center
  justify-content: space-between

.products-container
  margin-top: 20px
  margin-bottom: 71px
  .swiper
    width: 1280px
    &-slide
      display: flex
      justify-content: center
      align-items: center

div.swiper-button-prev, div.swiper-button-next
  color: #000
